# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*
!.env.example

# Docker
.docker

# Media files
media/

# Static files
staticfiles/

# Virtual environments
venv/
env/
ENV/
.venv/
.virtualenv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store 